:root {
    --main-bg-color: white;
    --main-text-color: black;
    --secondary-bg-color: orange;
    --secondary-text-color: black;
    --secondary-hover-text-color: white;
    --border-color: black;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    min-height: 100%;
    min-width: 100%;
    /* box-sizing: border-box; */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--main-bg-color);
    /* color: var(--main-text-color); */
}

#buttonPageColor {
    font-size: 100%;
    font-family: inherit;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    border: 0;
    padding: 0;
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
}

#buttonPageColor:hover {
    color: var(--secondary-hover-text-color);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--secondary-bg-color);
    position: sticky;
    width: 100%;
    /* border-top: 2px solid var(--border-color); */
    /* border-bottom: 2px solid var(--border-color); */
}

nav a {
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    color: var(--secondary-text-color);
}

nav a:hover {
    color: var(--secondary-hover-text-color);
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

article {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 1em;
    margin-left: 16px;
    width: 80%;
}

aside {
    float: left;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    padding: 1em;
    margin: 32px;
    margin-right: 16px;
    width: 20%;
    height: 100%;
    position: sticky;
    top: 140px;
    /* border: 2px solid var(--border-color); */
    /* box-sizing: border-box; */
}

@media (max-width: 800px) {
    section {
        flex-direction: column;
    }

    section article {
        width: 100%;
        height: auto;
        margin-left: 0px;
        box-sizing: border-box;
    }

    section aside {
        position: static;
        width: 100%;
        height: auto;
        margin-right: 0px;
        margin: 0px;
        box-sizing: border-box;
        border: 0px;
        /* border-bottom: 2px solid var(--border-color); */
        border-top: 2px solid var(--border-color);
    }
}

aside a{
    color: var(--secondary-text-color);
    text-decoration: none;
}

aside button{
    font-size: 100%;
    font-family: inherit;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    border: 0;
    padding: 0;
    cursor: pointer;
}

aside a:hover, aside button:hover {
    color: var(--secondary-hover-text-color);
}

aside li {
    list-style-type: "> ";
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    /* border-top: 2px solid var(--border-color); */
}